$accent-color: #4abdac;
$accent-low-color: #d7e1e2;
$info-color: #fcb733;
$danger-color: #fc4a1a;
$first-black: #17252a;
$second-black: #acaab4;
$first-white: #ffffff;
$second-white: #dddddf;
$third-white: #f2f2f2;
